<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: head('Best Movies')"></th:block>
</head>

<body>

    <header th:replace="fragments/header :: header"></header>

    <main class="container d-flex flex-column align-items-center mt-4">
        <h1 class="text-center mb-4">Best Movies</h1>

        <ul class="list-group w-50">
            <li th:each="movie, iterStat : ${movies}" class="list-group-item text-center">
                <span class="fw-bold me-2">#<span th:text="${iterStat.index + 1}"></span></span>
                <a th:href="@{/movies/{id}(id=${movie.id})}" class="text-decoration-none">
                    <span th:text="${movie.titolo}"></span>
                </a>
            </li>
        </ul>
    </main>



</body>

</html>